<div class="container">
    <div class="logo-container">
        <img src="/assets/atom-svgrepo-com.svg" width="200" alt="SMC with ATOM">
    </div>
    <h1>SMC AI</h1>
    <div class="features">
        <p><img src="/assets/conversation.svg" width="25" alt="SMC with ATOM"> Let's Chat and Create Magic</p>
        <p><img src="/assets/music.svg" width="25" alt="SMC with ATOM"> Groove to Melodies that Move You</p>
        <p><img src="/assets/brush.svg" width="25" alt="SMC with ATOM"> Marvel at Artistic Wonders</p>
        <p><img src="/assets/code.svg" width="25" alt="SMC with ATOM"> Code Your Dreams into Reality</p>
    </div>
</div>