footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

nav {
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #0000ff;
}

#copy{
    width: auto;
    margin-right: 30px;
}

@media (max-width: 1023px) {
    nav {
        gap: 5px;
    }
}

@media (max-width:767px) {
    footer {
        height: 60px;
        position: relative;
        padding: 15px 0;
        background: #2f2f2f;
        color: #fff;
        font-size: 12px;
        flex-direction: column;
        gap: 15px;
    }
    nav {
        margin-left: 0;
        gap: 15px;
        padding: 0 15px;
        text-align: center;
    }

    nav a {
        color: #fff;
    }
    
    nav span {
        display: none;
    }

    #copy {
        text-align: center;
        margin-right: 0;
        text-align: center;
    }
}