.popup {
    width: 250px;
    height: 170px;
    background-color: #e5e5e5;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    transition: all .5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.active {
    height: 0;
}

.close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.close:hover {
    opacity: 0.7;
}

.close img {
    width: 100%;
    height: 100%;
}

.sign-out-container {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.sign-out-container:hover {
    filter: brightness(90%);
    background-color: lightgray;
}


.svg-container {
    margin-right: 5px;
    display: flex;
}

.user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.user-image {
    width: 45px;
    border-radius: 50%;
}

.username {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.9rem;
}